<%= content_for :navbar do %>
  <ul class="nav pull-right">
    <li><a href="<%= user_customers_path %>">Customers</a></li>
    <li><a href="<%= reports_path %>">Reports</a></li>
    <li class="divider-vertical"></li>
    <li><a href="/logout">Log out</a></li>
  </ul>
<% end %>
