/* Do not include Sprocket =require_self line in this file.
   If you do, updates to @imported files won't be reflected in application.css on save. */

/* Vendor */
@import 'rails-sass-images';
@import 'flat-ui';
@import 'bootstrap-formhelpers-countries.flags';

@import 'global';
@import 'layout';
@import 'user';
@import 'customers';
@import 'notifications';
@import 'select2';
