#country_code_prepend {
  box-sizing: border-box;
  height: 41px;
  border: 2px solid #dce4ec;
  border-right: none;
  padding-top: 8px;
  @include border-radius(5px 0 0 5px);
}

#customer_country_code {
  width: 66px;
  @include border-radius(0 5px 5px 0);
}
