$mainNavHeight: 56px;

#main-nav {
  .brand {
    margin-left: 5px;
  }
}

.navbar-inner, .navbar-inner .divider-vertical {
  height: $mainNavHeight;
  font-size: 17px;
}

#main {
  position: absolute;
  top: $mainNavHeight;
  padding-bottom: 20px;
}

#main-inner {
  margin-top: 40px;
}
