.customer_first_name, .customer_last_name, #customer_phone {
  display: inline;
}

#notifications-table {
  border-color: inherit;
  border-bottom: 1px solid;
}

#new_notification .dk_container {
  width: 400px;
}

#new_notification .dk_options_inner {
  width: 394px;
}

#new-notification-wrapper {
  background-color: #ECF0F1;
  padding-top: 12px;
  @include border-radius(5px);

  td {
    border-top: none;
  }
}

th.itsready {
  color: #1abc9c;
  width: 60px;
}

.select2-container {
  width: 100%;
}

label[for='notification_ready'] {
  display: inline;
  position: relative;
  top: 3px;
}

#notification_customer_attributes_phone {
  padding: 3px 0 3px 10px;
}
